@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
@font-face {
  font-family: 'MuseoSans-100';
  src: url('../fonts/museosans-100.woff') format('woff'), url('../fonts/museosans-100.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MuseoSans-500';
  src: url('../fonts/museosans-500.woff') format('woff'), url('../fonts/museosans-500.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MuseoSans-700';
  src: url('../fonts/museosans-700.woff') format('woff'), url('../fonts/museosans-700.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MuseoSans-300';
  src: url('../fonts/museosans-300.woff') format('woff'), url('../fonts/museosans-300.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  /* Safari, Android, iOS */
}
a,
a:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
a p,
a:hover p {
  text-decoration: none !important;
}
/*pre-load effect*/
.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: white;
}
.loading .loading-center {
  position: relative;
  width: 100%;
  height: 100%;
}
.loading .loading-center .loading-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.loading .loading-center .loading-center-absolute .object {
  -webkit-animation: scaling 2s infinite;
  -moz-animation: scaling 2s infinite;
  -ms-animation: scaling 2s infinite;
  -o-animation: scaling 2s infinite;
  animation: scaling 2s infinite;
  width: 15px;
  height: 15px;
  background-color: #304b61dc;
  display: inline-block;
  border-radius: 50%;
  opacity: 1;
}
.loading .loading-center .loading-center-absolute .object.object_two {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading .loading-center .loading-center-absolute .object.object_three {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading .loading-center .loading-center-absolute .object.object_four {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
body {
  max-width: 1440px;
  margin: auto;
  position: relative;
  background-color: #f4f4f4;
  color: #eeeeee;
}
.color-text {
  color: #304b61dc;
}
.mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 62, 119, 0.95);
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 40px 0px;
}
.mobile-nav .inner-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.mobile-nav .inner-wrapper .menu-closer {
  position: absolute;
  padding-top: 29px;
  font-size: 25px;
  right: calc(8.333% + 15px);
  color: white;
  cursor: pointer;
}
.mobile-nav .inner-wrapper .inner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.mobile-nav .inner-wrapper .inner .nav-option {
  padding: 15px 0px;
  cursor: pointer;
  opacity: 0.8;
  font-family: 'MuseoSans-700', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1.5;
  display: block;
  margin: 0px 80px;
}
.mobile-nav .inner-wrapper .inner .nav-option:hover {
  opacity: 1;
}
.mobile-nav .inner-wrapper .inner .nav-option:visited {
  color: white;
}
.mobile-nav .inner-wrapper .inner .nav-option .tag {
  font-family: 'Lora', serif;
  font-size: 12px;
  font-style: italic;
  display: block;
  text-transform: lowercase;
  margin-top: -5px;
}
.mobile-nav .inner-wrapper .inner .info {
  display: block;
  font-family: 'MuseoSans-300', sans-serif;
  margin-top: 35px;
  letter-spacing: 1;
}
.mobile-nav .inner-wrapper .inner .info hr {
  width: 100px;
}
.IntroRow {
  padding-bottom: 40px;
}
.IntroRow .intro {
  margin: auto;
  margin-top: 60px;
  position: relative;
}
.IntroRow .intro .menu-trigger {
  display: none;
  position: absolute;
  padding-top: 9px;
  font-size: 25px;
  right: 0px;
  color: #304b61dc;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .IntroRow .intro .menu-trigger {
    display: block;
  }
}
.IntroRow .intro .introduction {
  font-size: 32px;
  color: #777;
  line-height: 1.5;
  padding-top: 5px;
  font-family: 'MuseoSans-700', sans-serif;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .introduction {
    font-size: 23px;
  }
}
.IntroRow .intro .shuffle-wrapper {
  position: relative;
  height: 48px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .shuffle-wrapper {
    height: 40px;
  }
}
.IntroRow .intro .shuffle-wrapper .shuffle {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0px;
  padding: 7px 9px;
  -webkit-animation-play-state: running;
  /* Chrome, Safari, Opera */
  animation-play-state: running;
  -webkit-animation: flash 7s steps(4) infinite;
  -moz-animation: flash 7s steps(4) infinite;
  -ms-animation: flash 7s steps(4) infinite;
  -o-animation: flash 7s steps(4) infinite;
  animation: flash 7s steps(4) infinite;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .shuffle-wrapper .shuffle {
    display: none;
  }
}
.IntroRow .intro .shuffle-wrapper .shuffle.mobile {
  padding: 0px;
  display: none;
  -webkit-animation: flash-mobile 7s steps(4) infinite;
  -moz-animation: flash-mobile 7s steps(4) infinite;
  -ms-animation: flash-mobile 7s steps(4) infinite;
  -o-animation: flash-mobile 7s steps(4) infinite;
  animation: flash-mobile 7s steps(4) infinite;
}
@media only screen and (max-width: 768px) {
  .IntroRow .intro .shuffle-wrapper .shuffle.mobile {
    display: block;
  }
}
@-moz-keyframes flash {
  0% {
    top: 0px;
  }
  100% {
    top: -195px;
  }
}
@-webkit-keyframes flash {
  0% {
    top: 0px;
  }
  100% {
    top: -195px;
  }
}
@-o-keyframes flash {
  0% {
    top: 0px;
  }
  100% {
    top: -195px;
  }
}
@keyframes flash {
  0% {
    top: 0px;
  }
  100% {
    top: -195px;
  }
}
@-moz-keyframes flash-mobile {
  0% {
    top: 4px;
  }
  100% {
    top: -137px;
  }
}
@-webkit-keyframes flash-mobile {
  0% {
    top: 4px;
  }
  100% {
    top: -137px;
  }
}
@-o-keyframes flash-mobile {
  0% {
    top: 4px;
  }
  100% {
    top: -137px;
  }
}
@keyframes flash-mobile {
  0% {
    top: 4px;
  }
  100% {
    top: -137px;
  }
}
.IntroRow .intro .mytitle {
  margin: 20px auto;
  color: #777;
  letter-spacing: 1.1;
  font-size: 17px;
  font-variant: small-caps;
  font-family: 'MuseoSans-700', sans-serif;
}
.IntroRow .nav-wrapper {
  margin-left: -8px;
  padding-top: 20px;
}
@media only screen and (max-width: 700px) {
  .IntroRow .nav-wrapper {
    display: none;
  }
}
.IntroRow .nav-wrapper .tooltip {
  opacity: 0.5;
}
.IntroRow .nav-wrapper .nav-link {
  font-size: 18px;
  position: relative;
  display: inline-block;
  margin: 15px auto;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  letter-spacing: 1.1;
  color: #999;
  text-transform: uppercase;
  font-family: 'MuseoSans-700', sans-serif;
}
.IntroRow .nav-wrapper .nav-link:focus {
  color: #304b61dc;
}
.IntroRow .nav-wrapper .nav-link:hover {
  color: #304b61dc;
}
.IntroRow .nav-wrapper .nav-link:after {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  width: 50%;
  height: 5%;
  content: '';
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  background: #304b61dc;
}
.IntroRow .nav-wrapper .nav-link:hover:after {
  width: 70%;
  opacity: 1;
}
.IntroRow .nav-wrapper .nav-link:active:after {
  width: 100%;
  opacity: 1;
}
.ProjRow {
  margin-top: 10px;
  margin-bottom: 85px;
}
.ProjRow img {
  width: 100%;
}
.ProjRow .square {
  margin-bottom: 20px;
}
.ProjRow .square .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #304b61dc;
  border-radius: 2px;
}
.ProjRow .square .projImg {
  position: relative;
  margin: auto;
  border-radius: 2px;
  height: 200px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .ProjRow .square .projImg {
    height: 240px;
  }
}
.ProjRow .square .projImg .scaled-img {
  opacity: 0;
  border-radius: 2px;
}
.ProjRow .square .projImg .projIcon {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.ProjRow .square .projImg .projIcon img {
  width: auto;
  height: 22px;
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ProjRow .square .projImg .projIcon .projTitle {
  font-family: 'MuseoSans-700', sans-serif;
  font-size: 18px;
  font-variant: small-caps;
  color: grey;
  opacity: 1;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s ease-in-out 0.1s;
  -moz-transition: all 0.35s ease-in-out 0.1s;
  -ms-transition: all 0.35s ease-in-out 0.1s;
  -o-transition: all 0.35s ease-in-out 0.1s;
  transition: all 0.35s ease-in-out 0.1s;
}
.ProjRow .square .projImg .projIcon hr {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  -webkit-transition: all 0.35s ease-in-out 0.1s;
  -moz-transition: all 0.35s ease-in-out 0.1s;
  -ms-transition: all 0.35s ease-in-out 0.1s;
  -o-transition: all 0.35s ease-in-out 0.1s;
  transition: all 0.35s ease-in-out 0.1s;
}
.ProjRow .square .projImg .projIcon .projTags {
  color: #777;
  font-family: 'MuseoSans-300', sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.35s ease-in-out 0.1s;
  -moz-transition: all 0.35s ease-in-out 0.1s;
  -ms-transition: all 0.35s ease-in-out 0.1s;
  -o-transition: all 0.35s ease-in-out 0.1s;
  transition: all 0.35s ease-in-out 0.1s;
}
.ProjRow .square .border {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.ProjRow .square .scaled-img {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.ProjRow .square:hover {
  cursor: pointer;
}
.ProjRow .square:hover .border {
  height: 0px;
}
.ProjRow .square:hover .projImg .scaled-img {
  opacity: 0.6;
  background-color: black;
}
.ProjRow .square:hover .projTitle {
  opacity: 1 !important;
  color: white !important;
  transform: translateY(-20px);
}
.ProjRow .square:hover hr {
  transform: translateY(-20px);
}
.ProjRow .square:hover .projTags {
  color: white !important;
  transform: translateY(-20px);
}
.ProjRow .square:hover .projIcon img {
  opacity: 0;
  transform: translateY(-20px);
}
.ContactRow {
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .ContactRow {
    padding-top: 10px;
  }
}
.ContactRow .special {
  font-family: 'MuseoSans-500', sans-serif;
  color: #304b61dc;
}
.ContactRow h4 {
  font-family: 'MuseoSans-500', sans-serif;
  color: #304b61dc;
  letter-spacing: 1;
}
.ContactRow .myIntro {
  font-family: 'MuseoSans-300', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}
.ContactRow .myPic {
  margin-top: 25px;
  margin-bottom: 35px;
}
.ContactRow .myPic img {
  width: 185px;
  margin: auto;
  border-radius: 50%;
}
.ContactRow .ending-hr {
  width: 250px;
  border-top: 2.5px solid #304b61dc;
}
.ContactRow i {
  font-size: 24px;
  margin: 20px 8px 0 8px;
  color: #777;
}
.ContactRow i:hover {
  cursor: pointer;
  color: #304b61dc;
}
.ContactRow .contact-info {
  color: #777;
  font-family: 'MuseoSans-300', sans-serif;
  margin-top: 25px;
  display: block;
  line-height: 1.7;
}
.ContactRow .quote-wrapper {
  margin: 0px 25% 10px 25%;
  font-family: 'Lora', serif;
  color: #999;
  font-style: 18px;
}
@media only screen and (max-width: 768px) {
  .ContactRow .quote-wrapper {
    margin: 0px 2% 10px 2%;
  }
}
.ContactRow .quote-wrapper blockquote {
  padding: 5px 0px;
  margin: 0px;
  border-left: none;
  font-size: inherit;
}
.ContactRow .quote-wrapper blockquote:before {
  font-family: 'FontAwesome';
  content: "\f10d";
  font-size: 15px;
  color: #304b61dc;
  display: block;
  margin-bottom: 3px;
}
.ContactRow .quote-wrapper blockquote:after {
  font-family: 'FontAwesome';
  content: "\f10e";
  font-size: 15px;
  color: #304b61dc;
  display: block;
  margin-bottom: 3px;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes scaling {
  75% {
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
}
@keyframes scaling {
  75% {
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
}
.homeKey {
  border-radius: 100%;
  background-color: #304b61dc;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.homeKey:hover {
  box-shadow: 2px 6px 14px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.homeKey img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10;
  top: 8;
  z-index: 20;
}
.topKey {
  display: none;
  background-color: #304b61dc;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 2px;
}
.topKey:hover {
  box-shadow: 2px 6px 14px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.topKey i {
  margin-top: 7px;
  font-size: 33px;
  z-index: 20;
}
.jumbotronRow {
  position: relative;
  padding: 40px;
  color: #304b61dc;
  font-weight: 300;
  font-family: 'MuseoSans-300', sans-serif;
}
.jumbotronRow h1 {
  font-family: 'MuseoSans-300', sans-serif;
  letter-spacing: 0.3;
}
@media only screen and (max-width: 550px) {
  .jumbotronRow h1 {
    font-size: 28px;
  }
}
.jumbotronRow hr {
  width: 65%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.jumbotronRow h5 {
  font-family: 'MuseoSans-300', sans-serif;
  color: #777;
  font-weight: 300;
  line-height: 1.5;
}
.jumbotronRow a {
  font-size: 14px;
  color: #304b61dc;
  font-family: 'MuseoSans-500', sans-serif;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  letter-spacing: 0.5px;
}
.jumbotronRow a i {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  vertical-align: middle;
}
.jumbotronRow a:hover i {
  opacity: 1;
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.hero-img {
  width: 100%;
}
.hero-img img {
  width: 100%;
}
.img-title {
  color: #b9b9b9;
  font-family: 'Lora', serif;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 20px;
}
.img-title .fa-hand-o-up {
  display: none;
}
.img-title hr {
  margin: 7px 0px;
  width: 180px;
}
@media only screen and (max-width: 500px) {
  .img-title hr {
    width: 115px;
  }
}
@media only screen and (max-width: 768px) {
  .img-title {
    margin-bottom: 25px;
  }
  .img-title .fa-hand-o-up {
    display: inline-block;
  }
  .img-title .fa-hand-o-left {
    display: none;
  }
}
.whiteLine {
  padding: 35px 80px 40px 80px;
}
@media only screen and (max-width: 1100px) {
  .whiteLine {
    padding: 35px 100px 40px 100px;
  }
}
@media only screen and (max-width: 992px) {
  .whiteLine {
    padding: 40px 60px 30px 60px;
  }
}
@media only screen and (max-width: 815px) {
  .whiteLine {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .whiteLine {
    padding: 30px 25px 30px 25px;
  }
}
@media only screen and (max-width: 480px) {
  .whiteLine {
    padding: 30px 25px 10px 25px;
  }
}
.whiteLine img {
  width: 100%;
  border-radius: 2px;
}
.whiteLine .details {
  font-family: 'MuseoSans-300', sans-serif;
  color: #555;
  margin-bottom: 72px;
}
@media only screen and (max-width: 815px) {
  .whiteLine .details {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .whiteLine .details {
    margin-right: 0px;
  }
}
.whiteLine .details.museum-solutions .row p {
  margin-top: 25%;
}
@media only screen and (max-width: 992px) {
  .whiteLine .details.museum-solutions .row p {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .whiteLine .details.museum-solutions .row p {
    margin-top: 0px;
  }
}
.whiteLine .details p,
.whiteLine .details span,
.whiteLine .details ul {
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 1.5;
}
.whiteLine .details blockquote {
  padding: 4px 20px 4px 10px;
  font-size: 16px;
  margin: 12px 0px 7px 10px;
  border-left: 4px solid #eeeeee;
}
.whiteLine .details blockquote .quoted-by {
  font-style: italic;
  color: #b9b9b9;
  font-family: 'Lora', serif;
}
.whiteLine .details h4 {
  font-family: 'MuseoSans-700', sans-serif;
  color: #b9b9b9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.5;
}
.whiteLine .details .label-tag {
  background-color: #304b61dc;
  opacity: 0.75;
  font-weight: normal;
  padding: 3px 5px;
}
.whiteLine .details .proj-label {
  font-family: 'MuseoSans-300', sans-serif;
  display: inline-block;
  border: 1px solid #333;
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px;
  border-radius: 2px;
  color: #333;
}
.whiteLine .details .personas-wrapper {
  display: table;
  margin-bottom: 10px;
}
.whiteLine .details .personas-wrapper .ad-persona {
  background: #f4f4f4;
  padding: 24px 24px 14px 24px;
  border-radius: 2px;
  margin: 5px -15px;
}
@media only screen and (max-width: 480px) {
  .whiteLine .details .personas-wrapper .ad-persona {
    padding: 20px 20px 10px 20px;
  }
}
.whiteLine .details .personas-wrapper .ad-persona .persona-name {
  font-family: 'MuseoSans-700', sans-serif;
}
.whiteLine .details .personas-wrapper .ad-persona .labels {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'MuseoSans-700', sans-serif;
}
.whiteLine .next-step {
  font-size: 18px;
  font-family: 'MuseoSans-700', sans-serif;
  color: #999;
}
@media only screen and (max-width: 768px) {
  .whiteLine .next-step {
    font-size: 26px;
  }
}
.whiteLine .next-step a:visited {
  color: #999;
}
.whiteLine .next-step a:hover {
  color: #304b61dc;
}
.whiteLine .next-step .hide-mobile {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .whiteLine .next-step .hide-mobile {
    display: none;
  }
}
.whiteLine .next-step .left-section i {
  margin-right: 8px;
}
.whiteLine .next-step .right-section i {
  margin-left: 8px;
}
.whiteLine .next-step .home-section i {
  margin-right: 8px;
}
.whiteLine .next-step i {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .whiteLine .next-step i {
    margin: 0px;
  }
}
.whiteLine .small-img {
  width: 90%;
  box-shadow: none !important;
}
@media only screen and (max-width: 768px) {
  .whiteLine .small-img {
    width: 90%;
  }
}
.whiteLine .no-shadow-img {
  box-shadow: none;
  width: 100%;
}
.whiteLine .shadow-img {
  box-shadow: 2px 2px 7px #b7b7b7;
}
.whiteLine .add-margin {
  margin-top: 5px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .whiteLine .add-margin {
    margin-bottom: 15px;
  }
}
.carousel {
  margin-bottom: 65px;
  margin-top: 15px;
}
.carousel .carousel-inner {
  border-radius: 2px;
}
.carousel .carousel-inner .item img {
  border-radius: 2px;
}
.carousel .carousel-indicators {
  bottom: -45px;
}
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #304b61dc;
  border: none;
}
.carousel .carousel-indicators .active {
  background-color: #304b61dc;
  border: none;
  margin: 1px;
  width: 30px;
  height: 10px;
}
.carousel .carousel-control {
  font-size: 30px;
  color: #304b61dc;
  text-shadow: none;
  opacity: 0.6;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none !important;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  color: #304b61dc;
  opacity: 1;
}
.carousel#deepintent-carousel .carousel-inner > .item > img {
  margin: auto;
  height: 100%;
  width: auto;
}
.carousel#deepintent-carousel .carousel-inner {
  height: 740px;
}
.carousel#deepintent-carousel .carousel-inner {
  padding-bottom: 15px;
}
@media only screen and (max-width: 800px) {
  .carousel#deepintent-carousel .carousel-inner {
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .carousel#deepintent-carousel .carousel-inner > .item > img {
    width: 100%;
    height: auto;
  }
}
