.single-item .pic {
  width: 200px;
}
.details {
  padding: 150px 30px;
  background-color: #fafafa;
  margin-bottom: 25px;
}
.icons {
  background-color: #f6fbff;
  padding: 150px 25%;
}
@media only screen and (max-width: 768px) {
  .icons {
    padding: 150px 15%;
  }
}
.the-cloud {
  background-color: #d5dcea;
}
.the-cloud .white {
  transform-origin: -50% -100%;
  -webkit-animation: slide-down 6s ease-in-out infinite;
  -moz-animation: slide-down 6s ease-in-out infinite;
  -o-animation: slide-down 6s ease-in-out infinite;
  animation: slide-down 6s ease-in-out infinite;
}
@-moz-keyframes slide-down {
  50% {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
}
@-webkit-keyframes slide-down {
  50% {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
}
@-o-keyframes slide-down {
  50% {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
}
@keyframes slide-down {
  50% {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
}
.whale {
  background: #dfeeff;
}
.windmill {
  background: #fdf7e1;
}
.windmill svg {
  overflow: visible;
}
.windmill svg #fan {
  -webkit-animation: rotation 7s infinite linear;
  -moz-animation: rotation 7s infinite linear;
  -o-animation: rotation 7s infinite linear;
  animation: rotation 7s infinite linear;
  -webkit-transform-origin: 50% 50%;
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.windmill svg .cls-1,
.windmill svg .cls-3,
.windmill svg .cls-4,
.windmill svg .cls-5 {
  fill: #fff;
}
.windmill svg .cls-2 {
  fill: #a1ddff;
}
.windmill svg .cls-3 {
  opacity: 0.14;
}
.windmill svg .cls-4 {
  opacity: 0.2;
}
.windmill svg .cls-5 {
  opacity: 0.3;
}
.windmill svg .cls-6 {
  fill: #e84949;
}
.windmill svg .cls-7 {
  opacity: 0.06;
}
.windmill svg .cls-8 {
  opacity: 0.03;
}
.windmill svg .cls-10,
.windmill svg .cls-11,
.windmill svg .cls-9 {
  fill: #111;
}
.windmill svg .cls-9 {
  opacity: 0.65;
}
.windmill svg .cls-10 {
  opacity: 0.6;
}
.windmill svg .cls-11 {
  opacity: 0.8;
}
.windmill svg .cls-12 {
  fill: #332818;
}
.flag {
  background: #dff5ef;
}
.flag svg .clouds {
  position: absolute;
  fill: #fff;
  -webkit-animation: cloud 10s infinite linear;
  -moz-animation: cloud 10s infinite linear;
  -o-animation: cloud 10s infinite linear;
  animation: cloud 10s infinite linear;
}
.flag svg .clouds.tiny-cloud {
  -webkit-transform: scale(0.23, 0.23);
  -moz-transform: scale(0.23, 0.23);
  -ms-transform: scale(0.23, 0.23);
  -o-transform: scale(0.23, 0.23);
}
.flag svg .clouds.small-cloud {
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
}
.flag svg .clouds.big-cloud {
  -webkit-transform: scale(0.53, 0.53);
  -moz-transform: scale(0.53, 0.53);
  -ms-transform: scale(0.53, 0.53);
  -o-transform: scale(0.53, 0.53);
}
.flag svg .clouds.large-cloud {
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
}
@-moz-keyframes cloud {
  0% {
    left: 0%;
  }
  100% {
    left: 120%;
  }
}
@-webkit-keyframes cloud {
  0% {
    left: 0%;
  }
  100% {
    left: 120%;
  }
}
@-o-keyframes cloud {
  0% {
    left: 0%;
  }
  100% {
    left: 120%;
  }
}
@keyframes cloud {
  0% {
    left: 0%;
  }
  100% {
    left: 120%;
  }
}
.flag svg .cls-1 {
  fill: #fff;
}
.flag svg .cls-2 {
  fill: #e1ecef;
}
.flag svg .cls-3 {
  opacity: 0.6;
}
.flag svg .cls-4 {
  opacity: 0.8;
}
.flag svg .cls-5 {
  fill: none;
  stroke: #282022;
  stroke-miterlimit: 10;
  stroke-width: 6.4px;
}
.flag svg .cls-6 {
  fill: #ce3653;
}
.flag svg .cls-7 {
  fill: #acd1c6;
}
.flag svg .cls-8 {
  opacity: 0.05;
}
.flag svg .cls-9 {
  fill: #83c9bc;
}
.flag svg .cls-10 {
  opacity: 0.06;
}
.flag svg .cls-11 {
  fill: #070707;
}
.flag svg .cls-12 {
  fill: #4abaa5;
}
.snack {
  background: #e7dff5;
}
.snack svg .cls-1,
.snack svg .cls-19 {
  fill: #fff;
}
.snack svg .cls-2 {
  fill: #56417b;
}
.snack svg .cls-3 {
  fill: #7c4dff;
}
.snack svg .cls-17,
.snack svg .cls-3,
.snack svg .cls-8 {
  opacity: 0.1;
}
.snack svg .cls-4 {
  opacity: 0.05;
}
.snack svg .cls-5 {
  fill: #eee6ff;
  opacity: 0.04;
}
.snack svg .cls-6 {
  fill: #ea6c6c;
}
.snack svg .cls-7 {
  opacity: 0.07;
}
.snack svg .cls-9 {
  fill: #f7f3e8;
}
.snack svg .cls-10,
.snack svg .cls-18 {
  fill: none;
  stroke-linejoin: round;
}
.snack svg .cls-10 {
  stroke: #e2e2e2;
  stroke-linecap: round;
  stroke-width: 4px;
}
.snack svg .cls-11 {
  fill: #f9f9f9;
}
.snack svg .cls-12 {
  fill: #fcc978;
}
.snack svg .cls-13 {
  fill: #7bb755;
}
.snack svg .cls-14 {
  fill: #f18d60;
}
.snack svg .cls-15 {
  fill: #9bd376;
}
.snack svg .cls-16 {
  fill: #fbddab;
}
.snack svg .cls-17 {
  fill: #333;
}
.snack svg .cls-18 {
  stroke: #f7f7f7;
  stroke-width: 2px;
}
.snack svg .cls-19 {
  opacity: 0.03;
}
.succulent {
  background: #f1f9f2;
}
.succulent svg .cls-1 {
  fill: none;
}
.succulent svg .cls-2 {
  isolation: isolate;
}
.succulent svg .cls-3,
.succulent svg .cls-5 {
  fill: #fff;
}
.succulent svg .cls-4 {
  fill: #f9f4ca;
}
.succulent svg .cls-5 {
  opacity: 0.1;
}
.succulent svg .cls-6,
.succulent svg .cls-7,
.succulent svg .cls-8 {
  fill: #edc10a;
}
.succulent svg .cls-6 {
  opacity: 0.05;
}
.succulent svg .cls-7 {
  opacity: 0.04;
}
.succulent svg .cls-8 {
  opacity: 0.03;
}
.succulent svg .cls-9 {
  clip-path: url(#clip-path);
}
.succulent svg .cls-10 {
  fill: #e2e2e2;
}
.succulent svg .cls-11 {
  fill: #efefef;
}
.succulent svg .cls-12 {
  fill: #f7f7f7;
}
.succulent svg .cls-13 {
  fill: #828282;
}
.succulent svg .cls-14 {
  clip-path: url(#clip-path-2);
}
.succulent svg .cls-15,
.succulent svg .cls-17 {
  fill: #78a567;
}
.succulent svg .cls-16 {
  fill: #c8eac1;
}
.succulent svg .cls-17 {
  opacity: 0.25;
  mix-blend-mode: screen;
}
.the-sky {
  background-color: #d9f1ff;
  position: relative;
  overflow: hidden;
}
.the-sky .cloud-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
}
.the-sky .cloud-wrapper .clouds {
  position: absolute;
  -webkit-animation: cloud 40s infinite linear;
  -moz-animation: cloud 40s infinite linear;
  -o-animation: cloud 40s infinite linear;
  animation: cloud 40s infinite linear;
}
.the-sky .cloud-wrapper .clouds.fore-cloud {
  opacity: 1;
}
.the-sky .cloud-wrapper .clouds.back-cloud {
  opacity: 0.65;
}
.the-sky .cloud-wrapper .clouds.tiny-cloud {
  -webkit-transform: scale(0.23, 0.23);
  -moz-transform: scale(0.23, 0.23);
  -ms-transform: scale(0.23, 0.23);
  -o-transform: scale(0.23, 0.23);
}
.the-sky .cloud-wrapper .clouds.small-cloud {
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
}
.the-sky .cloud-wrapper .clouds.big-cloud {
  -webkit-transform: scale(0.53, 0.53);
  -moz-transform: scale(0.53, 0.53);
  -ms-transform: scale(0.53, 0.53);
  -o-transform: scale(0.53, 0.53);
}
.the-sky .cloud-wrapper .clouds.large-cloud {
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
}
.the-sky .cloud-wrapper .clouds:first-child {
  top: 50px;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-duration: 164s;
  animation-duration: 164s;
}
.the-sky .cloud-wrapper .clouds:nth-child(2) {
  top: 50px;
  margin-left: 296px;
  -webkit-animation-delay: 0.44s;
  animation-delay: 0.44s;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.the-sky .cloud-wrapper .clouds:nth-child(3) {
  top: -70px;
  margin-left: 40px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
}
.the-sky .cloud-wrapper .clouds:nth-child(4) {
  top: 120px;
  margin-left: 890px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 150s;
  animation-duration: 150s;
}
.the-sky .cloud-wrapper .clouds:nth-child(5) {
  top: 10px;
  margin-left: 630px;
  -webkit-animation-delay: 0.06s;
  animation-delay: 0.06s;
  -webkit-animation-duration: 130s;
  animation-duration: 130s;
}
.the-sky .cloud-wrapper .clouds:nth-child(6) {
  top: -20px;
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
  -webkit-animation-duration: 64s;
  animation-duration: 64s;
}
.the-sky .cloud-wrapper .clouds:nth-child(7) {
  top: 180px;
  margin-left: 300px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 170s;
  animation-duration: 170s;
}
.the-sky .cloud-wrapper .clouds:nth-child(8) {
  top: 143px;
  margin-left: 180px;
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
  -webkit-animation-duration: 130s;
  animation-duration: 130s;
}
.the-sky .cloud-wrapper .clouds:nth-child(9) {
  top: -30px;
  margin-left: 640px;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
  -webkit-animation-duration: 78s;
  animation-duration: 78s;
}
